<div>
    <h3><%= @test.name %></h3>
    <p><%= @test.description %></p>

    <%= render @test.questions %>

    <%= turbo_frame_tag "new_question" do %>
    <% end %>

    <%= link_to "Add a Question",
        question_new_path(@test),
        class: "text-indigo-600 hover:text-indigo-900",
        data: { turbo_stream: true, turbo_frame: :new_question } %>
</div>
