<div>
    <h3 class="text-2xl"><%= @test.name %></h3>
    <p><%= @test.description %></p>

    <%= turbo_frame_tag "new_question" do %>
    <% end %>

    <%= turbo_frame_tag "new_choices" do %>
    <% end %>

    <%= link_to "Add a Question",
        question_new_path(@test),
        class: "text-indigo-600 hover:text-indigo-900",
        data: { turbo_stream: true, turbo_frame: :new_question } %>

    <%= turbo_frame_tag "questions" do %>
        <%= render partial: 'question/question', collection: @test.questions %>
    <% end %>
</div>
