<div>
    <div class="card" style="width: 18rem;">
        <h1 class="text-2xl"><%= @test.name %></h3>
        <p><%= @test.description %></p>
    </div>

    <%= turbo_frame_tag "new_question" do %>
    <% end %>

    <%= link_to "Add a Question",
        question_new_path(@test),
        class: "text-indigo-600 hover:text-indigo-900",
        data: { turbo_stream: true, turbo_frame: :new_question } %>

    <%= turbo_frame_tag "questions" do %>
        <ul>
            <%= render partial: 'question/question', collection: @test.questions %>
        </ul>
    <% end %>
</div>
